<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="./assets/images/favicon.png">
  <title>Тема форума</title>

  <link rel="stylesheet" href="./assets/css/reboot.min.css">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/style.css?v1.1.1">

  <!--[if lt IE 10]>
  <div style="text-align: center;padding: 20px;background:red;color:#fff;">Вы используете <strong>устаревший</strong> браузер. <br>
  Пожалуйста, <a href="http://browsehappy.com/">обновите его</a> для корректного
  отображения сайтов.</div>
  <![endif]-->

</head>

<body id="body">
  <!-- .wrapper -->
  <div class="wrapper">

    <!-- .header -->
    <header class="header">
      <div class="header__inner">
        <!-- .header__box -->
        <div class="header__box">
          <!-- .logo -->
          <a href="index.html" class="logo">
            <img src="./assets/images/logo.svg" alt="logo" class="logo__img">
          </a><!-- /.logo -->
          <!-- .nav -->
          <nav id="nav" class="nav">
            <ul>
              <li><a href="news.html" class="nav__link">Новости</a></li>
              <li><a href="aso.html" class="nav__link">ASO-оптимизация</a></li>
              <li><a href="about.html" class="nav__link">О нас</a></li>
              <li><a href="forum.html" class="nav__link">Форум</a></li>
              <li><a href="curses.html" class="nav__link">Обучение</a></li>
              <li><a href="slovar.html" class="nav__link">Словарь</a></li>
              <li><a href="sell.html" class="nav__link">Продажа аккаунтов</a></li>
              <li><a href="#" class="button">Наш чат в Telegram</a></li>
              <li><a href="#" class="nav__link hidden__desktop">Войти</a></li>
            </ul>
          </nav><!-- /.nav -->
        </div><!-- /.header__box -->
        <!-- .header__box -->
        <div class="header__box">
          <!-- .ding -->
          <div id="ding" class="ding dropdown">
            <button class="ding__toogle dropdown-toggle" type="button" id="dropdownMenu__ding" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="ding__icon" src="./assets/images/bell.svg" alt="Уведомление">
              <span class="ding__info">5</span>
            </button>
            <!-- .ding__box -->
            <div class="dropdown-menu ding__box" aria-labelledby="dropdownMenu__ding">
              <span class="ding__arrow"></span>
              <!-- .ding__content -->
              <div class="ding__content">
                <!-- .dingList -->
                <div class="dingList">
                  <div class="dingList__title">Сегодня</div>
                  <div class="dingList__item">
                    <img class="dingList__item__icon" src="./assets/images/message.svg" alt="Сообщение">
                    <p class="dingList__item__desc">
                      <a href="#">Вам ответили на форуме *название* <span>20 мин</span></a>
                    </p>
                  </div>
                  <div class="dingList__item">
                    <img class="dingList__item__icon" src="./assets/images/message.svg" alt="Сообщение">
                    <p class="dingList__item__desc">
                      <a href="#">У вас новое сообщение в топике *название* <span>27 мин</span></a>
                    </p>
                  </div>
                </div>
                <!-- /.dingList -->
                <!-- .dingList -->
                <div class="dingList dingList__viewed">
                  <div class="dingList__title">Вчера</div>
                  <div class="dingList__item">
                    <img class="dingList__item__icon" src="./assets/images/message.svg" alt="Сообщение">
                    <p class="dingList__item__desc">
                      <a href="#">У вас новое сообщение в топике *название* <span>27 мин</span></a>
                    </p>
                  </div>
                  <div class="dingList__item">
                    <img class="dingList__item__icon" src="./assets/images/message.svg" alt="Сообщение">
                    <p class="dingList__item__desc">
                      <a href="#">У вас новое сообщение в топике *название* <span>27 мин</span></a>
                    </p>
                  </div>
                </div>
                <!-- /.dingList -->
              </div><!-- /.ding__content -->
            </div><!-- /.ding__box -->
          </div><!-- /.ding -->
          <a href="#" class="nav__link hidden__mobile">Login</a>
          <!-- .nav__open -->
          <button id="nav__open" type="button" class="navToggle">
            <span class="navToggle__inner">
              <i></i>
              <i></i>
              <i></i>
            </span>
          </button><!-- /.nav__open -->

        </div><!-- /.header__box -->
      </div>
    </header><!-- .header -->

    <!-- .main -->
    <div class="main">
      <div class="container container__lg">

        <!-- .forum -->
        <div class="forum">

          <!-- .backLink -->
          <a href="forum.html" class="backLink">
            <img src="./assets/images/back.svg" alt="Назад">
          </a><!-- /.backLink -->

          <!-- .forumBreadcrumb -->
          <div class="forumBreadcrumb">
            Forums / Main category / <a href="#">Main forum</a>
          </div><!-- /.forumBreadcrumb -->

          <!-- .forumPost -->
          <div class="forumPost">
            <div class="forumPost__panel">
              <div class="forumPost__panel__inner">
                <span class="forumPost__ava"><img src="img/ava-1.png" alt="#"></span>
                <a href="#">@riffdick</a>
              </div>
              <div class="forumPost__panel__inner">
                <span>Dec 19, 2018</span>
                <a href="#"><img src="./assets/images/forum-share.svg" alt="Share"></a>
                <a href="#"><img src="./assets/images/forum-reply.svg" alt="Reply"></a>
                <a href="#">#1</a>
              </div>
            </div>
            <div class="forumPost__content">
              <p>Success is 1% inspiration, 98% perspiration and 2% attention to detail.</p>
              <p>Don't make simple mistakes and you'll be fine!</p>
            </div>
          </div><!-- /.forumPost -->
          <!-- .forumPost -->
          <div class="forumPost">
            <div class="forumPost__panel">
              <div class="forumPost__panel__inner">
                <span class="forumPost__ava"><img src="img/ava-1.png" alt="#"></span>
                <a href="#">@riffdick</a>
              </div>
              <div class="forumPost__panel__inner">
                <span>Dec 19, 2018</span>
                <a href="#"><img src="./assets/images/forum-share.svg" alt="Share"></a>
                <a href="#"><img src="./assets/images/forum-reply.svg" alt="Reply"></a>
                <a href="#">#1</a>
              </div>
            </div>
            <div class="forumPost__content">
              <p>So inspirational, thanks!</p>
            </div>
          </div><!-- /.forumPost -->
          <!-- .forumPost -->
          <div class="forumPost">
            <div class="forumPost__panel">
              <div class="forumPost__panel__inner">
                <span class="forumPost__ava"><img src="img/ava-1.png" alt="#"></span>
                <a href="#">@riffdick</a>
              </div>
              <div class="forumPost__panel__inner">
                <span>Dec 19, 2018</span>
                <a href="#"><img src="./assets/images/forum-share.svg" alt="Share"></a>
                <a href="#"><img src="./assets/images/forum-reply.svg" alt="Reply"></a>
                <a href="#">#1</a>
              </div>
            </div>
            <div class="forumPost__content">
              <p>That's great advice dad, but I've been trying to cook chicken in the oven and I'm not sure if I should use the normal setting or the fan force setting.</p>
            </div>
          </div><!-- /.forumPost -->
          <!-- .forumPost -->
          <div class="forumPost">
            <div class="forumPost__panel">
              <div class="forumPost__panel__inner">
                <span class="forumPost__ava"><img src="img/ava-1.png" alt="#"></span>
                <a href="#">@riffdick</a>
              </div>
              <div class="forumPost__panel__inner">
                <span>Dec 19, 2018</span>
                <a href="#"><img src="./assets/images/forum-share.svg" alt="Share"></a>
                <a href="#"><img src="./assets/images/forum-reply.svg" alt="Reply"></a>
                <a href="#">#1</a>
              </div>
            </div>
            <div class="forumPost__content">
              <p>This is great advice Phil, thank you! :)!</p>
            </div>
          </div><!-- /.forumPost -->
          <!-- .forumPost -->
          <div class="forumPost">
            <p>Оставить комментарий:</p>
            <form>
              <textarea class="textarea" rows="3"></textarea>
              <button type="button" class="button">Отправить комментарий</button>
            </form>
          </div><!-- /.forumPost -->
        </div><!-- /.forum -->

      </div>
    </div><!-- /.main -->

  </div>
  <!-- .wrapper -->

  <script src="./assets/js/jquery-3.6.0.min.js"></script>
  <script src="./assets/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/js/main.js"></script>

</body>

</html>
