{% extends 'base.html' %}

{% block main %}

<div class="container">

  <!-- .news -->
  <div class="news">

    {% for data in news %}
    <!-- .newsItem -->
    <div class="newsItem">
      <div class="newsItem__inner">
        <div class="newsItem__imgbox">
          <a href="{% url 'post' %}?news-post={{ data.id }}"><img src="{{ data.image.url }}" alt="News"></a>
        </div>
        <div class="newsItem__content">
          <div class="newsItem__title">
            <a href="{% url 'post' %}?news-post={{ data.id }}">{{ data.title }}</a>
          </div>
          <p class="newsItem__desc">
            {{ data.pre_text }}
          </p>
          <div class="newsItem__info">
            <!--<a href="#">#apple</a> / -->
            {{ data.date|date }}
          </div>
        </div>
      </div>
    </div>
    <!-- .newsItem -->
    {% endfor %}

  </div><!-- /.news -->

</div>

{% endblock %}