{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="container container__sm">

  <!-- .newsPost -->
  <div class="newsPost">

    <!-- .backLink -->
    <a href="forum.html" class="backLink">
      <img src="{% static 'images/back.svg' %}" alt="Назад">
    </a><!-- /.backLink -->

    <!-- .newsAbs -->
    <!--<div class="newsAbs">
      <a href="#" class="newsAbs__item"><img src="./assets/images/edit.svg" alt="Редактировать"></a>
      <a href="#" class="newsAbs__item"><img src="./assets/images/share.svg" alt="Поделиться"></a>
    </div>-->
    <!-- /.newsAbs -->

    <!-- .newsPost__inner -->
    <div class="newsPost__inner">
      <div class="newsPost__imgbox">
        <img src="{{ post.image.url }}" alt="News">
      </div>
      <h1 class="newsPost__title h2">{{ post.title }}</h1>
      <div class="newsPost__info">{{ post.date|date }}</div>
      <p>
        {{ post.full_text }}
      </p>
    </div><!-- /.newsPost__inner -->

    <!-- .comments -->
    <div class="comments">
      <div class="comments__title">Comments {{ comments|length }}</div>

      {% for comment in comments %}

      <div class="commentsItem">
        <div class="commentsItem__panel">

          {% if comment.sended_from.image %}
          <span class="commentsItem__ava"><img src="{{ comment.sended_from.image.url }}" alt="#"></span>
          {% else %}
          <span class="commentsItem__ava"><img src="{% static 'images/defaultUser.png' %}" alt="#"></span>
          {% endif %}


          <a href="mailto:{{ comment.sended_from.email }}"><b>{{ comment.sended_from.first_name }}</b></a>
          <span>{{ comment.time }}</span>
        </div>
        <div class="commentsItem__content">
          {{ comment.text }}
        </div>
      </div>

      {% endfor %}
      
      <div class="comments__title">Post a comment:</div>

      {% if not is_authenticated %}
      <div class="comments__guest">
        <p>You need logged in to write a comment</p>
        <a href="{% url 'login' %}" class="button">Login</a>
      </div>
      {% else %}
      <form action="{% url 'post' %}?news-post={{ post.id }}" method="post">
        {% csrf_token %}
        <textarea class="textarea" name="text" rows="3" required></textarea>
        <input type="hidden" name="news-post" value="{{ post.id }}">
        <button type="submit" class="button">Send a comment</button>
      </form>
      {% endif %}

    </div>
    <!-- /.comments -->

  </div><!-- /.newsPost -->

</div>

{% endblock %}